<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="nlog-internal.log" internalLogToConsoleError="true" >

  <variable name="fileLogDir" value="${basedir}/log"/>
  <variable name="fileLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} Thread=${threadname}:${threadid} ${level:uppercase=true} in ${logger}: ${message}. ${exception:format=ToString}"/>
  <variable name="src" value="ConsoleAppTestring"/>

  <targets>
    <target xsi:type="Console"
            name="Console"
            layout="Thread ${threadname}:${threadid} ${level:uppercase=true} ${logger}: ${message}. ${exception:format=ToString}"
            error="true" />
  </targets>



  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="ConsoleBuffered"></logger>-->
    <!--<logger name="*" minlevel="Trace" writeTo="Console"  >
            <filters>
                <whenRepeated layout="Layout" action="Ignore"  timeoutSeconds="5" filterCountMessageAppendFormat=" (Hits: {0})"  includeFirst="false"/>
            </filters>
        </logger>-->
    <logger name="*" minlevel="Info" writeTo="Console"  />
    <!--<logger name="*" minlevel="Trace" writeTo="ConsoleThrottledLines"  />-->
    <!--<logger name="*" minlevel="Trace" writeTo="emailErrorThrottled"/>-->

    <!--<logger name="*" minlevel="Trace" writeTo="databaseLog" />-->
    <!--<logger name="*" minlevel="Warn" writeTo="file_warn"  />-->

    <!--<logger name="*" minlevel="Error" writeTo="systemLog"/>-->
    <!--<logger name="*" minlevel="Error" writeTo="mailtargetError"/>-->
    <!--<logger name="*" minlevel="Fatal" writeTo="mailtargetFATAL"/>-->


    <!--<logger name="*" minlevel="Info" writeTo="mailtargetBusinesMsg">
            <filters>
                <when condition="not contains(message,'FOR_BUSINESS')" action="Ignore"/>
            </filters>
        </logger>-->
  </rules>
</nlog>
